{%  extends "layout.html" %}

{%  block title %}Actinoids{%  endblock %}

{%  block content %}
<h1>Actinoids</h1>
<ul>
    <li><a href="/Ac">Actinium</a></li>
    <li><a href="/Th">Thorium</a></li>
    <li><a href="/Pa">Proctactinium</a></li>
    <li><a href="/U">Uranium</a></li>
    <li><a href="/Np">Neptunium</a></li>
    <li><a href="/Pu">Plutonium</a></li>
    <li><a href="/Am">Americium</a></li>
    <li><a href="/Cm">Curium</a></li>
    <li><a href="/Bk">Berkelium</a></li>
    <li><a href="/Cf">Californium</a></li>
    <li><a href="/Es">Einsteinium</a></li>
    <li><a href="/Fm">Fermium</a></li>
    <li><a href="/Md">Mendelevium</a></li>
    <li><a href="/No">Nobelium</a></li>
    <li><a href="/Lr">Lawrencium</a></li>
</ul>
{%  endblock %}