{%  extends "layout.html" %}

{%  block title %}Home{%  endblock %}

{%  block content %}
<h1>Home</h1>
<ul>
    <li><a href="/alkali">Alkali Metals</a></li>
    <li><a href="/alkaline">Alkaline Earth Metals</a></li>
    <li><a href="/transition">Transition Metals</a></li>
    <li><a href="/lanthanoids">Lanthanoids</a></li>
    <li><a href="/actinoids">Actinoids</a></li>
    <li><a href="/pblock">P-Block Metals</a></li>
    <li><a href="/metalloids">Metalloids</a></li>
    <li><a href="/nonmetals">Non-Metals</a></li>
    <li><a href="/halogens">Halogens</a></li>
    <li><a href="/noble">Noble Gases</a></li>
</ul>
{%  endblock %}
