{%  extends "layout.html" %}

{%  block title %}Lanthanoids{%  endblock %}

{%  block content %}
<h1>Lanthanoids</h1>
<ul>
    <li><a href="/La">Lanthanum</a></li>
    <li><a href="/Ce">Cerium</a></li>
    <li><a href="/Pr">Praseodymium</a></li>
    <li><a href="/Nd">Neodymium</a></li>
    <li><a href="/Pm">Promethium</a></li>
    <li><a href="/Sm">Samarium</a></li>
    <li><a href="/Eu">Europium</a></li>
    <li><a href="/Gd">Gadolinium</a></li>
    <li><a href="/Tb">Terbium</a></li>
    <li><a href="/Dy">Dysprosium</a></li>
    <li><a href="/Ho">Holmium</a></li>
    <li><a href="/Er">Erbium</a></li>
    <li><a href="/Tm">Thulium</a></li>
    <li><a href="/Yb">Ytterbium</a></li>
    <li><a href="/Lu">Lutetium</a></li>
</ul>
{%  endblock %}