{%  extends "layout.html" %}

{%  block title %}P-Block Metals{%  endblock %}

{%  block content %}
<h1>P-Block Metals</h1>
<ul>
    <li><a href="/Al">Aluminum</a></li>
    <li><a href="/Ga">Gallium</a></li>
    <li><a href="/In">Indium</a></li>
    <li><a href="/Sn">Tin</a></li>
    <li><a href="/Tl">Thallium</a></li>
    <li><a href="/Pb">Lead</a></li>
    <li><a href="/Bi">Bismuth</a></li>
    <li><a href="/Nh">Nihonium</a></li>
    <li><a href="/Sp">Sp</a></li>
    <li><a href="/Fl">Flerovium</a></li>
    <li><a href="/Mc">Moscovium</a></li>
    <li><a href="/Lv">Livermorium</a></li>
</ul>
{%  endblock %}