{%  extends "layout.html" %}

{%  block title %}Transition Metals{%  endblock %}

{%  block content %}
<h1>Transition Metals</h1>
<ul>
    <li><a href="/Sc">Scandium</a></li>
    <li><a href="/Ti">Titanium</a></li>
    <li><a href="/V">Vanadium</a></li>
    <li><a href="/Cr">Chromium</a></li>
    <li><a href="/Mn">Manganese</a></li>
    <li><a href="/Fe">Iron</a></li>
    <li><a href="/Co">Cobalt</a></li>
    <li><a href="/Ni">Nickel</a></li>
    <li><a href="/Cu">Copper</a></li>
    <li><a href="/Zn">Zinc</a></li>
    <li><a href="/Y">Yttrium</a></li>
    <li><a href="/Zr">Zirconium</a></li>
    <li><a href="/Nb">Niobium</a></li>
    <li><a href="/Mo">Molybdenum</a></li>
    <li><a href="/Tc">Technetium</a></li>
    <li><a href="/Ru">Ruthenium</a></li>
    <li><a href="/Rh">Rhodium</a></li>
    <li><a href="/Pd">Palladium</a></li>
    <li><a href="/Ag">Silver</a></li>
    <li><a href="/Cd">Cadmium</a></li>
    <li><a href="/Hf">Hafnium</a></li>
    <li><a href="/Ta">Tantalum</a></li>
    <li><a href="/W">Tungsten</a></li>
    <li><a href="/Re">Rhenium</a></li>
    <li><a href="/Os">Osmium</a></li>
    <li><a href="/Ir">Iridium</a></li>
    <li><a href="/Pt">Platinum</a></li>
    <li><a href="/Au">Gold</a></li>
    <li><a href="/Hg">Mercury</a></li>
    <li><a href="/Rf">Rutherfordium</a></li>
    <li><a href="/Db">Dubnium</a></li>
    <li><a href="/Sg">Seaborgium</a></li>
    <li><a href="/Bh">Bohrium</a></li>
    <li><a href="/Hs">Hassium</a></li>
    <li><a href="/Mt">Meitnerium</a></li>
    <li><a href="/Ds">Darmstadtium</a></li>
    <li><a href="/Rg">Roentgenium</a></li>
    <li><a href="/Cn">Copernicium</a></li>
</ul>
{%  endblock %}